<!DOCTYPE html>
<html>
    <head>
        <title>Address Book</title>

        <!-- css -->
      <link href="/css/main.css" rel="stylesheet" type="text/css">
      <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
      <link href='https://fonts.googleapis.com/css?family=Droid+Sans|Quicksand|Cuprum|Monda:400,700' rel='stylesheet' type='text/css'>

    </head>
    <body>

    <div class="container-fluid">
    <!-- navbar -->
        <nav class="navbar navbar-light bg-faded" style="background-color: #333333;">
          <img class="logo" src="/img/paper.png" />
        </nav>
    </div> <!--container-fluid-->

      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-12">
            <h1 class="header"><%= user.name %> <%= user.username %></h1>
              <h4 class="subhead"><%= user.title %></h4>
              <hr class= "red">

              <h3 class="header">Address</h3>
                <p> <%= user.street %></p>
                <p> <%= user.city %>, <%= user.state %> <%= user.zip %></p>
              <hr>
              <h3 class="header">Notes</h3>
                <p><%= user.notes %> </p>

                <a class="update-btn btn btn-default" href="/users/<%= user.username %>">Update</a>
                <a class="update-btn btn btn-default" href="/users">Back to Contacts</a>


        </div>
      </div>
    </div>

      <footer class="footer">
         <div class="container">
           <p class="text-muted"><small>Created by Ashlen Renner for a Journalism course at UNC Chapel Hill.</small></p>
         </div>
       </footer>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
     <!-- Include all compiled plugins (below), or include individual files as needed -->
     <script src="/js/bootstrap.min.js"></script>
     <script src="/js/main.js"></script>

</body>
</html>
