<!DOCTYPE html>
<html>
    <head>
        <title>Address Book</title>
    </head>
    <body>
        <h3><%= user.name %> <%= user.username %></h3>
            <p><%= user.title %></p>

            <h4>Address</h4>
            <p> <%= user.street %></p>
            <p> <%= user.city %>, <%= user.state %> <%= user.zip %></p>

            <h4>Notes</h4>
            <p><%= user.notes %> </p>

            <button><a href="/user/<%= user.username %>/update">Update</a></button>


    </body>
</html>
