<!DOCTYPE html>
<html>
    <head>
        <title>Address Book</title>

        <!-- css -->
      <link href="/css/main.css" rel="stylesheet" type="text/css">
      <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
      <link href='https://fonts.googleapis.com/css?family=Droid+Sans|Quicksand|Cuprum|Monda:400,700' rel='stylesheet' type='text/css'>

    </head>
    <body>

    <div class="container-fluid">
    <!-- navbar -->
        <nav class="navbar navbar-light bg-faded" style="background-color: #333333;">
          <img class="logo" src="/img/paper.png" />
        </nav>
    </div> <!--container-fluid-->

      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-12">
            <form action="/users/<%= user.username %>" method="POST">
              <h1 class="header">Update <%= user.name %> <%= user.username %></h1>
              <hr class="red">
            <div class="form-group form-value">
            <label class="contact-info">First Name</label>
            <input class="form-input" type="text" id="name" name="name" value="<%= user.name %>" />
          </div>

            <div class="form-group form-value">
            <label class="contact-info">Last Name</label>
            <input class="form-input" type="text" id="username" name="username" value="<%= user.username %>" />
          </div>

            <div class="form-group form-value">
            <label class="contact-info">Job Title</label>
            <input class="form-input-job" type="text" id="title" name="title" value="<%= user.title %>" />
          </div>

            <div class="form-group form-value">
            <label class="contact-info">Street Address</label>
            <input class="form-input-address" type="text" id="street" name="street" value="<%= user.street %>" />
          </div>

            <div class="form-group form-value">
            <label class="contact-info">City</label>
            <input class="form-input-city" type="text" id="city" name="city" value="<%= user.city %>" />
          </div>

            <div class="form-group form-value">
            <label class="contact-info">State</label>
            <input class="form-input-state" type="text" id="state" name="state" value="<%= user.state %>" />
          </div>

            <div class="form-group form-value">
            <label class="contact-info">Zip</label>
            <input class="form-input-zip" type="text" id="zip" name="zip" value="<%= user.zip %>" />
          </div>

            <div class="form-group form-value">
            <label class="contact-info">Notes</label>
            <textarea placeholder="<%= user.notes %>" class="form-control" rows="3"  id="notes" name="notes"></textarea>
          </div>

          <div class="col-md-8 col-sm-12">
            <button class="create-btn btn btn-success">Update</button>
              <a class="create-btn btn btn-danger" href="/users/delete/<%= user.username %>">Delete</a>
          </div>

          </form>
          </div>
        </div><!--row-->
      </div> <!--container-->

      <footer class="footer">
         <div class="container">
           <p class="text-muted"><small>Created by Ashlen Renner for a Journalism course at UNC Chapel Hill</small></p>
         </div>
       </footer>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
           <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
           <!-- Include all compiled plugins (below), or include individual files as needed -->
           <script src="/js/bootstrap.min.js"></script>
           <script src="/js/main.js"></script>

    </body>
</html>
